input.error, select.error, textarea.error {
  color: #B94A48;
  border-color: #B94A48;
}

input.error:focus, select.error:focus, textarea.error:focus {
  border-color: #953b39;
  -webkit-box-shadow: 0 0 6px #d59392;
  -moz-box-shadow: 0 0 6px #d59392;
  box-shadow: 0 0 6px #d59392;
}

.timestamp {
  color: #999!important;
}

a.screen-name {
  color: #000;
  font-weight: bold!important;
}

a.screen-name:link {
  color: #000;
}

.timeline {
  width: 530px;
}

.timeline-large {
  width: 810px;
}

.timeline-postform {
  position: relative; 
  padding: 10px;
  margin-bottom: 10px;
}

#timeline-textarea {
  width: 500px;
}

#timeline-submit-loader {
  display: none;
  text-align: center;
  float: left;
  width: 400px;
}

#timeline-submit-loader img {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  max-width: 28px;
  max-height : 28px;
}

#timeline-progress {
  margin: 4px 0;
  display: none;
  text-align: center;
  float: left;
  width: 400px;
}

#timeline-submit-error {
  display: none;
  color: #EE0000;
  text-align: center;
  float: left;
  width: 400px;
}

#timeline-submit-area{
  width: 100px;
  float: right;
  display: none;
}

#timeline-upload {
  -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; 
  position: relative; 
  width: 36px;
  height: 28px;
  display: inline;
  opacity:0;
  z-index: 50;
}

#timeline-upload-button {
  padding: 6px 10px 6px;
  position: absolute; 
  top: 0px; 
  left: 0px; 
  z-index: 0;
}

.timeline-submit {
  position: absolute;
  right: 10px;
  bottom: 2px;
  display: none;
  float: right;
  display: table;
  z-index: 200;
}

#timeline-loadmore {
  width: 100%;
}

#timeline-loadmore-loading {
  width: 100%;
  text-align: center;
  display: none;
}

.timeline-post {
  width: 510px;
  padding: 10px;
  border-top: 2px solid #DDD;
}

.timeline-post-large {
  width: 810px;
  padding: 10px;
  border-top: 2px solid #DDD;
}

.timeline-post-member-image {
  float: left;
  width: 50px;
}

.timeline-post-member-image img {
  max-width: 48px;
  max-height: 48px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.timeline-post-content {
  float: left;
  width: 460px;
}

.timeline-post-content-large {
  float: left;
  width: 760px;
}

.timeline-member-name {
  width: 460px;
  display: block;
  padding: 0 5px;
}

.timeline-member-name-large {
  width: 760px;
  display: block;
  padding: 0 5px;
}

.timeline-post-body {
  width: 460px;
  display: block;
  padding: 5px;
}

.timeline-post-image {
  width: 50px;
  display: inline;
  margin: 0 15px 0 5px;
  float: left;
}

.timeline-post-body-large {
  width: 760px;
  display: block;
  padding: 5px;
}

.timeline-post-control {
  display: block;
  width: 460px;
  margin-left: 50px;
  padding: 0 5px;
  font-size: 12px;
}

.timeline-post-control-large {
  display: block;
  width: 760px;
  margin-left: 50px;
  padding: 0 5px;
  font-size: 12px;
}

.timeline-post-comments {
  width: 460px;
  margin-left: 55px;
  margin-top: 10px;
  background-color: whiteSmoke;
}

.timeline-post-comment {
  width: 450px;
  display: block;
  padding: 5px;
  border-top: 1px solid #DDD;
  min-height: 52px;
}

.timeline-post-comment-member-image {
  float: left;
  width: 40px;
  max-height: 36px;
  max-width: 36px;
}

.timeline-post-comment-content {
  float: right;
  width: 410px;
  min-height: 33px;
}

.timeline-post-comment-name-and-body {
  display: inline;
  float: left;
  font-size: 12px;
}

.timeline-post-comment-control {
  display: block;
  width: 520px;
  margin-left: 40px;
  font-size: 11px;
}



.timeline-post-comment-form {
  display: none;
  width: 450px;
  padding: 5px;
  border-top: 1px solid #DDD;
}

.timeline-post-comment-form-loader {
  display: none;
  width: 450px;
  padding: 5px;
  border-top: 1px solid #DDD;
  text-align: center;
  color: #EE0000;
}

.timeline-post-comment-form-loader img {
  max-width: 20px;
  max-height: 20px;
}

.comment-form-show {
  display: block;
}

.timeline-post-comment-form-input {
  width: 398px;
  height: 15px;
  padding: 2px;
  margin-bottom: 0px;
  margin-right: 4px;
}

.timeline-comment-link {
  cursor: pointer;
}

.timeline-post-delete-confirm {
  display: none;
  color: #000;
}

.timeline-post-image-detail {
  display: none;
  color: #000;
  width: 568px;
}

.timeline-post-image-detail-expand {
  width: 568px;
}

.timeline-post-image-detail img {
  width: 558px;
  margin: auto;
}

.timeline-post-image-detail-content {
  margin-top: 10px;
}

.timeline-post-image-detail-content > .timeline-post-content > .timeline-member-name > .screen-name {
  color: #000;
}

.timeline-post-delete-confirm-content > .timeline-post-content > .timeline-member-name > .screen-name {
  color: #000;
}
