input.error, select.error, textarea.error {
  color: #B94A48;
  border-color: #B94A48;
}

input.error:focus, select.error:focus, textarea.error:focus {
  border-color: #953b39;
  -webkit-box-shadow: 0 0 6px #d59392;
  -moz-box-shadow: 0 0 6px #d59392;
  box-shadow: 0 0 6px #d59392;
}

.timeline {
  width: 530px;
}

.timeline-postform {
  position: relative; 
  padding: 10px;
  margin-bottom: 10px;
}

#timeline-textarea {
  width: 500px;
}

#timeline-submit-loader {
  display: none;
  text-align: center;
  float: left;
  width: 460px;
}

#timeline-submit-loader img {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  max-width: 28px;
  max-height : 28px;
}

#timeline-submit-area{
  width: 48px;
  float: left;
  display: none;
}

.timeline-submit {
  position: absolute;
  right: 10px;
  bottom: 5px;
  display: none;
  float: right;
  display: table;
}

.timeline-post {
  width: 510px;
  padding: 10px;
  border-top: 2px solid #DDD;
}

.timeline-post-member-image {
  float: left;
  width: 50px;
}

.timeline-post-member-image img {
  max-width: 48px;
  max-height: 48px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.timeline-post-content {
  float: left;
  width: 460px;
}

.timeline-member-name {
  width: 460px;
  display: block;
  padding: 0 5px;
}

.timeline-post-body {
  width: 460px;
  display: block;
  padding: 5px;
}

.timeline-post-control {
  display: block;
  width: 460px;
  margin-left: 50px;
  padding: 0 5px;
  font-size: 12px;
}

.timeline-post-comments {
  width: 460px;
  margin-left: 55px;
  margin-top: 10px;
  background-color: whiteSmoke;
}

.timeline-post-comment {
  width: 450px;
  display: block;
  padding: 5px;
  border-top: 1px solid #DDD;
  min-height: 52px;
}

.timeline-post-comment-member-image {
  float: left;
  width: 40px;
  max-height: 36px;
  max-width: 36px;
}

.timeline-post-comment-content {
  float: right;
  width: 410px;
}

.timeline-post-comment-name-and-body {
  display: inline;
  float: left;
  font-size: 12px;
}

.timeline-post-comment-control {
  display: block;
  width: 520px;
  margin-left: 40px;
  font-size: 11px;
}



.timeline-post-comment-form {
  display: none;
  width: 450px;
  padding: 5px;
  border-top: 1px solid #DDD;
}

.timeline-post-comment-form-loader {
  display: none;
  width: 450px;
  padding: 5px;
  border-top: 1px solid #DDD;
  text-align: center;
}

.timeline-post-comment-form-loader img {
  max-width: 20px;
  max-height: 20px;
}

.comment-form-show {
  display: block;
}

.timeline-post-comment-form-input {
  width: 398px;
  height: 15px;
  padding: 2px;
  margin-bottom: 0px;
  margin-right: 4px;
}

.timeline-comment-link {
  cursor: pointer;
}
