
/***************************************
** opTimelinePlugin Custom Style Sheet
** @author : shouta kashiwagi
** @date   : 2011/11/23
****************************************/

#timeline-container {
  width: 493px;
  margin: 20px 10px;
}

#timeline-post {
  width: 491px;
  height: 89px;
}

#timeline-textbox textarea {
  width: 481px;
  height: 50px;
}

#timeline-submit button {
  width: 481px;
  padding: 0px 10px;
  float: center;
  height: 30px;
  color: white;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  background: #60B044;
  background: -webkit-gradient(linear,left top,left bottom,from(#8ADD6D),to(#60B044));
  background: -moz-linear-gradient(top,#8ADD6D,#60B044);
  border-color: #74BB5A;
  border-bottom-color: #509338;
}

#timeline-scroll {
  height: 400px;
}

.stream {
  #width: 205px;
  width: 490px;
  height: 400px;
  float: left;
  display: inline;
}

.stream-header {
  height: 15px;
  padding: 8px;
  text-align: center;
  font-size: 14px;
  background: url('navi-back-1.jpg') repeat-x;
}

.stream-list {
  height: 385px;
  overflow: scroll;
}

ul#streamList {
  list-style: none;
}

ul.commentList {
  list-style: none;
  background: #F0F0F0;
}

li.stream-body {
  clear: both;
  padding: 10px 0 3px;
  border-bottom: 1px solid #cccccc;
}

li.stream-body .stream-image {
  overflow: hidden;
  z-index: 256;
  position: relative;
  float: left;
  width: 36px;
  max-height: 36px;
  margin-right: 4px;
}

li.stream-body .stream-right {
  padding-left: 40px;
}

li.stream-body .stream-right .stream-membername {
  display: block;
}
li.stream-body .stream-right .stream-text {
  z-index: 128;
  position: relative;
  min-height: 48px;
  display: block;
}

li.stream-body .stream-right .stream-text .stream-util {
  padding: 0 10px;
  display: block;
  text-align: left;
  font-size: 8px;
}

li.stream-comment-body {
  display: block;
  padding: 0px 10px;
  margin-top: 10px;
}

.stream-comment-form {
  padding: 10px;
  background: #F0F0F0;
}

.stream-comment-form input {
  width: 95%;
  height: 17px;
}

#screen {
 position: absolute;
 top: 0px;
 left: 0px;
 width: 100%;
 height: 100%;
 background: url(images/screen-bg.png);
 display: none;
}

#stream-reply-popup {
  position: absolute;
  left: -150px;
  width: 400px;
  display: none;
}


#stream-reply-popup .stream-reply-popup-header {
  width: 100%;
  color: #FFFFFF;
  background: #000000;
}

#stream-reply-popup .stream-reply-popup-header .stream-reply-popup-close {
 display: inline;
 float: right;
}


