#timeline-container {
  width: 640px;
}
#timeline-scroll {
  height: 400px;
}

.stream {
  width: 205px;
  height: 400px;
  float: left;
  display: inline;
}

.stream-header {
  height: 15px;
  padding: 8px;
  text-align: center;
  font-size: 14px;
  background: url('navi-back-1.jpg') repeat-x;
}

.stream-list {
  height: 385px;
  overflow: scroll;
}

.stream-body {
  clear: both;
  padding: 10px 0 3px;
  border-bottom: 1px solid #cccccc;
}

.stream-image {
  overflow: hidden;
  z-index: 256;
  position: relative;
  float: left;
  width: 36px;
  max-height: 36px;
  margin-right: 4px;
}

.stream-text {
  z-index: 128;
  position: relative;
  min-height: 48px;
  display: block;
}

.stream-util {
  padding: 0 10px;
  display: inline;
  text-align: right;
  font-size: 8px;
}
